<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99 CaTz <%= @user.user_name %></h1>
    <p>
      You have successfully signed up to a site full of digital, fake cats to rent.
      You can RENT ALL THE CATz, and HAZ many cats all the time.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Come rent them all.</p>
  </body>
</html>
