@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  font-family: "Arial", sans-serif;
  background-color: darksalmon;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: armenian inside;
}

header > img {
  width: 100px;
  display: inline-block;
  float: left;
}

nav {
  float: right;
}

.ingredients-list li {
  margin: 15px 0;
}

ol li {
  margin: 15px 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.user_review h4 {
  font-family: 'Arial', sans-serif;;
  font-variant: small-caps;
  font-weight: bold;
}

.user_review {
  font-family: 'Space Mono', monospace;
  display: block;
}

input[type="radio"], input[type="submit"], select  {
  cursor: pointer;
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

input[type="text"], select {
  display: block;
  width: 175px
}

textarea {
  width: 175px
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(80%);
}

ol li:nth-of-type(2n) {
  background-color: lightgrey;
}

h2 + .user_review {
    border-top: 1px solid black;
}

section {
  display: inline-block;
}

aside {
  display: inline-block;
}

footer {
  text-align: center;
}
