<h1>Log In!</h1>
<form action="/sessions" method="post">
<%= auth_token %>
  <label for="username">Username: </label>
  <input id="username" type="text" name="user[user_name]">
  <br><br>
  <label for="pass">Password: </label>
  <input id="pass" type="password" name="user[password]">
  <br><br>
  <input type="submit" value="Get Renting">
</form>
<br>
<%= link_to "Make new user", new_user_url %>

<% content_for :footer do %>
  <h6>This is login page.</h6>
<% end %>
